<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

</ul>
<div style="background-color: #f0f0f0; padding: 12px; border-radius: 5px; font-size: 12px; line-height: 1.3; margin-top: 15px; width: 100%;">
  <div style="margin-bottom: 8px;">
    <strong>Please check out <a href="https://www.anamarasovic.com/contact/">Contact/FAQ</a> before reaching out</strong>, especially if you're a <strong>Utah student looking for research opportunities or TA-ing</strong>. 
    <em>If your inquiry is addressed there, I might prioritize other emails in my ever-growing inbox.</em>
  </div>
  <div>
    <strong>Fall'25 prospective PhD students:</strong> If you're interested in doing a PhD with me, <a href="https://www.cs.utah.edu/graduate/admissions/"><em>please apply</em></a> & explicitly mention your interest in working with me. The committee carefully considers every application. <span style="color:#EA3C17;"><strong>I'm not responding to emails sharing your application profile.</strong></span>
  </div>
</div>
<ul style="display: none;">